@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2e2e;
  padding: 0 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mem-slider-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-width: 280px;
  margin: 50px auto 0;
  overflow: hidden;
  border-left: 60px solid #212121;
  border-right: 60px solid #212121;
  border-top: 20px solid #212121;
  border-bottom: 20px solid #212121;
  border-radius: 10px;
  background-color: #212121;
}

.mem-slider {
  display: flex;
  width: 400%;
}

.mem-slider__item {
  width: 25%;
  transition: all 0.4s ease;
}

.mem-slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.text-and-nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.text-slider-wrapper {
  width: 50%;
  overflow: hidden;
}
.text-slider {
  display: inline-flex;
  width: 400%;
}

.text-slider__item {
  width: 25%;
  opacity: 0;
  transition: all 0.9s ease;
}

.text-slider__item-text {
  font-family: "Fredoka One", cursive;
  color: #fff;
  transition: all 2s ease;
}

input[name="r"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.nav {
  display: inline-flex;
  align-self: flex-start;
}

.nav__bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__bar-r-b {
  height: 12px;
  width: 12px;
  margin: 6px;
  border: 2px solid #994ecc;
  background-color: #994ecc;
  border-radius: 100%;
  transition: all 0.4s ease;
}

.nav__bar:hover .nav__bar-r-b {
  background-color: #fff;
  border-color: #fff;
}
.nav__bar:active .nav__bar-r-b {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
}

.nav__bar + .nav__bar {
  margin-left: 8px;
}

#r1:checked ~ ul .s1 {
  margin-left: 0%;
}

#r1:checked ~ .text-and-nav-wrapper .s1 {
  margin-left: 0;
  opacity: 1;
}

#r1:checked ~ .text-and-nav-wrapper .nav label[for="r1"] .nav__bar-r-b {
  background-color: transparent;
}

#r2:checked ~ ul .s1 {
  margin-left: -25%;
}

#r2:checked ~ .text-and-nav-wrapper .s1 {
  margin-left: -25%;
}

#r2:checked ~ .text-and-nav-wrapper .s2 {
  opacity: 1;
}

#r2:checked ~ .text-and-nav-wrapper .nav label[for="r2"] .nav__bar-r-b {
  background-color: transparent;
}

#r3:checked ~ ul .s1 {
  margin-left: -50%;
}

#r3:checked ~ .text-and-nav-wrapper .s3 {
  opacity: 1;
}

#r3:checked ~ .text-and-nav-wrapper .s1 {
  margin-left: -50%;
}

#r3:checked ~ .text-and-nav-wrapper .nav label[for="r3"] .nav__bar-r-b {
  background-color: transparent;
}

#r4:checked ~ ul .s1 {
  margin-left: -75%;
}

#r4:checked ~ .text-and-nav-wrapper .s4 {
  opacity: 1;
}

#r4:checked ~ .text-and-nav-wrapper .s1 {
  margin-left: -75%;
}

#r4:checked ~ .text-and-nav-wrapper .nav label[for="r4"] .nav__bar-r-b {
  background-color: transparent;
}

/* Adaptive */

@media (max-width: 600px) {
  .text-and-nav-wrapper {
    flex-direction: column;
  }

  .nav {
    flex-wrap: wrap;
    align-self: center;
    order: 1;
  }

  .text-slider-wrapper {
    width: 100%;
    overflow: hidden;
    order: 2;
    margin-top: 20px;
  }

  .text-slider {
    width: 400%;
    display: flex;
    flex-direction: row;
  }

  .text-slider__item {
    width: 25%;
  }

  #r1:checked ~ .text-and-nav-wrapper .s1 {
    margin-left: 0;
  }

  #r2:checked ~ .text-and-nav-wrapper .s1 {
    margin-left: -25%;
  }

  #r3:checked ~ .text-and-nav-wrapper .s1 {
    margin-left: -50%;
  }

  #r4:checked ~ .text-and-nav-wrapper .s1 {
    margin-left: -75%;
  }
}
